@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather, sans-serif;
    font-weight: 400;
    color: #3a3a3a
}

/* headings and logos */

h1, h2 {
    font-family: merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(209, 192, 192)
}

#logo {
    padding: 40px;
    display: block;
    margin-left: 10px;
    width: 50%;
    text-decoration: underline;
    
}



#nav {                      
    
    font-size: 110%;
    letter-spacing: 4px;
    overflow: hidden;
    background-color: #333;
    width: 100%; /* sourced: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
    
}



#nav, #logo {
    line-height: 75px;

}

#nav li {                
    float: right;
    list-style-type: none;
    margin-right: 30px; 
    
}

#nav a{
    text-decoration: none;
    color: aliceblue;
}

#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* jwst-image */

#space-image {
    height: 180px;
    width: 100%;
    background: url('../css/images/space1-image.jpg') no-repeat center center; 
} 

/* headings */

.hcenter {
    margin-left: 500px;
    color: black;
    padding: 50px;
    text-decoration: underline;
}

.center {
    text-align: center;
    border: solid 20px;
    padding: 20px;
    margin: 20px;
    
}
h4 {
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 200;
}

/* star gazing locations */

#locations {
background-image: url(../css/images/milky\ way.webp);   
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
overflow: hidden;
} 

