@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather, sans-serif;
    font-weight: 400;
    color: #3a3a3a
}

/* headings and logos */

h1, h2 {
    font-family: merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(209, 192, 192)
}

#logo {
    padding: 40px;
    display: block;
    margin-left: 10px;
    width: 50%;
    text-decoration: underline;
    
}


/* sourced: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */

/* Navigation Menu */
#nav {                      
    
    font-size: 110%;
    letter-spacing: 4px;
    overflow: hidden;
    background-color: #333;
    width: 100%; 
    
}



#nav, #logo {
    line-height: 75px;

}

#nav li {                
    float: right;
    list-style-type: none;
    margin-right: 30px; 
    
}

#nav a{
    text-decoration: none;
    color: aliceblue;
}

#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* jwst-image */

#space-image {
    height: 180px;
    width: 100%;
    background: url('../css/images/space1-image.jpg') no-repeat center center; 
} 

/* headings */

.hcenter {
    margin-left: 500px;
    color: black;
    padding: 50px;
    text-decoration: underline;
}

.center {
    text-align: center;
    border: solid 20px;
    padding: 20px;
    margin: 20px;
    
}
h4 {
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 200;
}

/* star gazing locations */

#locations {                /* copied from the course video */
background-image: url(../css/images/milky\ way.webp);   
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
overflow: hidden;
}    

#locations1 {                /* copied from the course video */
    background-image: url(../css/images/atacama1.webp);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    }    

#locations2 {                /* copied from the course video */
    background-image: url(../css/images/atacama.webp);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    }    

#locations3 {                /* copied from the course video */
    background-image: url(../css/images/japan.png);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    }    

#locations4 {                /* copied from the course video */
    background-image: url(../css/images/southafrica.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    }   
    
#locations5 {                /* copied from the course video */
    background-image: url(../css/images/hawaii.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    }    
    
#locations div {
    color:aliceblue;
    background-color: rgba(0,0,0, .6);
    width:  20%;
    height: 300px; 
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box; 
}

/* footer copied from course, social media links  */

footer {
    height: 150px;
    clear: both;
}

.social-networks {
    text-align: center;

}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


#photos {
    clear: both;
    line-height: 0%;
    column-count: 4;
    column-gap: 0;

}

#photos > img {
    width: 100%;

}


/* Credit to: https://www.w3schools.com/css/css_image_gallery.asp */
/* Gallery Page */
div.gallery { 
    margin-left: 5%;
    border: 1px solid #ccc;
    width: 19%;
    display: inline-block;
    margin-top: 10px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Contact page */
#contact h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/* Fix image bug issue using home_image class */
.home_image {
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (min-width: 320px)  and (max-width: 480px) {
    #locations div{
        width: 100%;
    }
    div.gallery {
        width: 100%;
        margin-left: 0px;
    }
  }

@media screen and (min-width: 481px)  and (max-width: 761px) {
    #locations div{
        width: 50%;
    }
    div.gallery {
        width: 45%;
        margin-left: 4%;
    }
  }